body {
    font-family: cursive;
    background-color: antiquewhite;
}

Header {
    background: #0077b6;
    color: white;
    padding: 20px;
}
nav ul {
    padding: 0;
    margin: 0;
}

table.todo th, table.todo td {
    border: 0.5px solid #333;
    padding: 10px;
    text-align: left;
}